@charset "UTF-8";


#map {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: 320px;
  height: 320px;
  border: 1px solid black;
  background-color: black;
}

#hammer-drag-map {
  background-image: url(../img/map.gif);
  background-position: 50% 50%;
  background-repeat: repeat;
}

/*
 * .shield はドラッグ可能エリアに対する壁にもなります。
 * もし .drag の隅々までドラッグ可能にしたい場合は pointer-events: none; を付け加えてください。
 */
.shield {
  position: absolute;
  width: 320px;
  height: 320px;
}

.shield__t {
  top: 0;
  left: 0;
  height: 15px;
}

.shield__r {
  top: 0;
  right: 0;
  width: 15px;
}

.shield__b {
  bottom: 0;
  left: 0;
  height: 15px;
}

.shield__l {
  top: 0;
  left: 0;
  width: 15px;
}

/*
 * --restrict のグラデーションは Android のようにドラッグ量に応じて色を濃くしたりはしていません。
 * 再現したい場合は @keyframes animation やドラッグ量に応じた濃さのクラスをそ作ってなんかがんばるなどしてください。
 */
.shield__t--restrict {
  background-image: -webkit-gradient(radial, center top, 5, center top, 15,  from(rgba(255,255,255, .75)), to(rgba(255,255,255, 0)));
  background-image: -webkit-radial-gradient(center top, ellipse farthest-side, rgba(255,255,255, .75), rgba(255,255,255, 0));
  background-image: radial-gradient(center top, ellipse farthest-side, rgba(255,255,255, .75), rgba(255,255,255, 0));
}

.shield__r--restrict {
  background-image: -webkit-gradient(radial, right center, 5, right center, 15,  from(rgba(255,255,255, .75)), to(rgba(255,255,255, 0)));
  background-image: -webkit-radial-gradient(right center, ellipse farthest-side, rgba(255,255,255, .75), rgba(255,255,255, 0));
  background-image: radial-gradient(right center, ellipse farthest-side, rgba(255,255,255, .75), rgba(255,255,255, 0));
}

.shield__b--restrict {
  background-image: -webkit-gradient(radial, center bottom, 5, center bottom, 15,  from(rgba(255,255,255, .75)), to(rgba(255,255,255, 0)));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-side, rgba(255,255,255, .75), rgba(255,255,255, 0));
  background-image: radial-gradient(center bottom, ellipse farthest-side, rgba(255,255,255, .75), rgba(255,255,255, 0));
}

.shield__l--restrict {
  background-image: -webkit-gradient(radial, left center, 5, left center, 15,  from(rgba(255,255,255, .75)), to(rgba(255,255,255, 0)));
  background-image: -webkit-radial-gradient(left center, ellipse farthest-side, rgba(255,255,255, .75), rgba(0,48,0, 0));
  background-image: radial-gradient(left center, ellipse farthest-side, rgba(255,255,255, .75), rgba(0,48,0, 0));
}
